server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            # Route: /clienta/** -> eureka-clienta service
            - id: clienta-route
              uri: lb://MY-CLIENT      
              predicates:
                - Path=/client/**       
              filters:
                - StripPrefix=1            # Remove /clienta prefix before forwarding

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

# Logging for debugging routes
logging:
  level:
    org.spring: DEBUG
